<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>

    <% t = Time.now %>
    <ul>
    <li>The date is <%= t.strftime("%A, %B %d, %Y") %></li>

    </ul>
    </body>
</html>
